<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <!--POJO 类的所在package，默认类名为其Alias-->
        <package name="ren.jzren.labour.model"/>
    </typeAliases>
    <mappers>
        <!--映射文件所在的地方-->
    </mappers>
</configuration>